.form {
  .form_input {
    display: flex;
    gap: 10px;
    input {
      all: unset;
      width: 190px;
      height: 24px;
      padding: 2px 5px;
      background: var(--color-bg-disabled);
      color: var(--color-text-main);
      border-radius: 4px;
      border: 1px solid var(--color-bg-disabled);
      &:focus,
      &:focus-visible {
        border: 1px solid var(--color-accent);
        outline: none;
      }
    }
    button {
      all: unset;
      height: 24px;
      background-color: var(--color-accent);
      color: var(--color-text-secondary);
      padding: 2px 5px;
      border-radius: 4px;
      &:active {
        scale: 1.1;
      }
    }
  }
  label {
    display: block;
    margin-top: 5px;
    color: var(--color-alarm);
    font-size: 12px;
  }
}
